# Core
numpy
pandas
python-dateutil

# AWS
boto3
sagemaker>=2.150.0
awswrangler

# Hugging Face Transformers & NLP
transformers>=4.26.0
datasets>=2.0.0
evaluate>=0.4.0
torch>=1.10.0

# Scikit-learn (for evaluation metrics)
scikit-learn

# Jupyter (if using notebooks)
notebook
